@import url(./__copyright/footer__copyright.css);
@import url(./__link/footer__link.css);

.footer{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 1184px;
    margin: 160px auto 48px;
}