.url-heading{
    width: 484px;
    height: 12px;
    font-family: Inter;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #AAAAAA;
    margin: 0px;
    margin-bottom: 16px;
}