@import url(./__item/emblem__item.css);
@import url(./__image-city/emblem__image-city.css);
@import url(./__paragraph-city/emblem__paragraph-city.css);

.emblem__box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}